.wt-anni-summary {
  position: relative;
  .wt-anni-link{
    position: absolute;
    bottom: 10px;
    right:30px;
    transition: all .2s ease-in-out;
    @media screen and (max-width:1200px){
      bottom: 0px;
      right:20px;
    }
    &:hover{
      transform: scale(1.1);
    }
    a{
      text-decoration: none;
      display: block;
      .icon{
        font-size: 30px;
      }
    }
  }
  .card-body {
    align-items: flex-start;
    flex-direction: column;
  }
}

.sum-tab-head {
  @include dis-flex();
  justify-content: flex-start;
  position: relative;
  width: 100%;

  .sum-tab-item {
    margin-right: 30px;
    @include dis-flex();
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    cursor: pointer;

    &:before {
      width: 0;
      transition: width 0.5s;
      content: "";
      position: absolute;
      height: 2px;
      background-color: $primary;
      bottom: -5px;
    }

    &:hover {
      &:before {
        width: 100%;
      }
    }

    &.active {
      &:before {
        width: 100%;
      }
    }
  }
}

.sum-item-icon {
  padding-right: 10px;
  font-size: 20px;
  // position: relative;
  &.icon-birthday {
    color: $secondary;
  }

  &.icon-anniversary {
    color: $danger;
  }

  &.icon-business-operations {
    color: $info;
  }
}

.sum-tab-body {
  margin: 20px 0;
  overflow: hidden;
  width: 100%;
  height:100%;
  @include dis-flex();
  flex-wrap: wrap;
  justify-content: center;
    // align-items: flex-start;

  .emp-img-block {
    .emp-img {
      height: 50px;
      width: 50px;

      img {
        width: 100%;
        height: auto;
        border: 2px solid $primary;
        border-radius: 50%;
      }
    }
  }
}

.anni-sum-item {
  text-align: center;
  min-width:110px;
  width:16.66%;
  margin-bottom: 10px;


  .emp-img-block {
    display: inline-block;
    position: relative;

    .sum-emp-icon {
      height: 25px;
      width: 25px;
      border-radius: 50%;
      position: absolute;
      bottom: -12px;
      left: 50%;
      margin-left: -12px;
      overflow: hidden;
      &:before {
        font-family: "zing-icon-font" !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        height:100%;
        width:100%;
        position: absolute;
        top: 3px;
        left: 0px;
        line-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        color:$white;
      }
    }
  }

  &.bday-item {
    .sum-emp-icon {
      background-color: $secondary;
      &:before {
        content: "\43";
      }
    }

    .emp-img-block {
      .emp-img {
        img {
          border: 2px solid $secondary;
        }
      }
    }
  }

  &.anni-item {
    .sum-emp-icon {
      background-color: $danger;
      &:before {
        content: "\44";
      }
    }

    .emp-img-block {
      .emp-img {
        img {
          border: 2px solid $danger;
        }
      }
    }
  }

  &.wk-anni-item {
    .sum-emp-icon {
      background-color: $info;
      &:before {
        content: "\e07b";
        top:5px;
      }
    }

    .emp-img-block {
      .emp-img {
        img {
          border: 2px solid $info;
        }
      }
    }
  }



  .emp-info-block {
    .emp-name {
      font-size: 16px;
      text-transform: capitalize;
      margin: 20px 0 5px;
    }

    .anni-date,
    .anni-type {
      font-size: 13px;
      text-transform: capitalize;
      margin-bottom: 2px;
    }
  }
}
