.atten-card {
  .atn-leave-btn{
    margin-top:5px;
    text-decoration: none;
    display: block;
    &:hover{
      text-decoration: underline;
    }
  }

  .card-body {
    .card-left {
      width: 60%;
      text-align: center;

    }

    .card-right {
      width: 40%;

      .empConnect{
        margin-top: 0px;
      }

      .attn-info {
        p {
          color:$text;



          &.attn-count {
            font-size: 40px;
            font-weight: 500;
            margin-bottom: 5px;
            display: block;
            @media screen and (max-width:1024px){
              font-size: 30px;
            }
          }
        }
      }
    }
  }

  .attn-cal-list {
    @include dis-flex();
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    max-width: 126px;
    @media screen and (max-width:1024px){
      width:100%;
    }
    @media screen and (max-width:992px){
      width:60%;
    }

    @media screen and (max-width:767px){
      width:65%;
    }

    span {
      &.cal-date {
        height: 14px;
        width: 14px;
        background-color: $border;
        margin: 2px;
        border-radius: 2px;
        position: relative;
        @media screen and (max-width:1200px){
          height: 12px;
          width: 12px;
        }

        &:before{
        content:"";
        position: absolute;
        top:0px;
        left: 0px;
        height:100%;
        width:50%;
        border-top-left-radius:2px;
        border-bottom-left-radius:2px;
        }

        &:after{
        content:"";
        position: absolute;
        top:0px;
        right: 0px;
        height:100%;
        width:50%;
        border-top-right-radius:2px;
        border-bottom-right-radius:2px;
        }

        &.cal-abs{
          background-color:$danger;
        }
        &.cal-present{
          background-color:$secondary;
        }
        &.cal-lapplied{
          background-color:$caption;
        }
        &.cal-lapproved{
          background-color:$purple;
        }
        &.cal-outdoor{
          background-color:$warning;
        }
        &.cal-halfday{
          &:before{
            background-color:$secondary
          }
        }
        &.cal-halfdayApplied{
          &:after{
            background-color:$secondary;
          }
        }
        &.cal-halfdayApproved{
          &:before{
            background-color:$purple;
          }
          &:after{
            background-color:$secondary;
          }
        }

        &.cal-secLevApplied{
          &:before{
            background-color:$secondary;
          }
          &:after{
            background-color:$caption;
          }
        }

        &.cal-secLevApproved{
          &:before{
            background-color:$secondary;
          }
          &:after{
            background-color:$purple;
          }
        }

      }
    }
  }
}
