.basic-banner-slider {
  height: 350px;
  @media screen and (max-width:767px){
    height:310px;
  }
  .swiper-pagination-bullet-active {
    background-color: $white;
    @media screen and (max-width:767px){
      background-color: $border;
    }
  }

  .swiper-pagination-bullet {
    height: 10px;
    width: 10px;
  }

  .db-arrow {
    color: $white;
    @media screen and (max-width:767px){
        top:20%;
    }


    &.db-prev {
      left: 30px;
      @media screen and (max-width:767px){
          right:10px;
      }
    }

    &.db-next {
      right: 30px;
      @media screen and (max-width:767px){
          right:10px;
      }
    }
  }

  &:hover .db-arrow {
    opacity: 1;
  }
}

.banner-list-item {
  position: relative;

  img {
    width: 100%;
    height: 100%;
    @media screen and (max-width:767px) {
      height: 120px;
    }
  }

  .banner-desc-block {
    position: absolute;
    top: 50%;
    margin-top: -100px;
    right: 100px;
    width: 400px;
    @media screen and (max-width:767px) {
      position: static;
      top: auto;
      margin-top: auto;
      right: 100px;
      width: 100%;
      background-color: #000;
    }

    .newsCard {
      height: auto;
      border: none;
      margin-top: 0;
      border-radius: 5px;

      @media screen and (max-width:767px){
        border-radius: 0px;
        border-bottom:1px solid $border;
      }

      .newsCard-desc {
        width: 100%;
        padding: 20px 20px 40px;
      }
    }
  }
}

.option-list {
  .option-list-item {
    width: 15%;
    height: 150px;
    @media screen and (max-width:992px) {
      height: 100px;
      margin-bottom: 20px;
    }
    @media screen and (max-width:767px) {
      width: 25%;
    }
  }
}
