.__basic2 {
  .db-body {
    .basic-banner-slider {
      .swiper-pagination-bullet-active{
        background-color: $white;
      }
      .swiper-pagination-bullet{
        height: 10px;
        width:10px;
      }
      .db-arrow {
        color: $white;
        &.db-prev{
          left: 30px;
        }
        &.db-next{
          right: 30px;
        }
      }

      &:hover .db-arrow {
        opacity: 1;
      }
    }

    .banner-list-item {
      position: relative;

      img {
        width: 100%;
      }

      .banner-desc-block {
        position: absolute;
        top: 50%;
        margin-top: -100px;
        right: 5%;
        width: 500px;

        .newsCard {
          height: 200px;
          border: none;
          margin-top: 0;

          .newsCard-desc {
            width: 100%;
            padding: 20px 60px 0 30px;
          }
        }
      }
    }

    .option-list {
      .option-list-item {
        width: 15%;
      }
    }
  }
}
