.basic-banner-slider {
  // display: none;
  height: 350px;
  // display: none;
  @media screen and (max-width:767px) {
    height: 310px;
  }

  .swiper-pagination-bullet-active {
    background-color: $white;
    @media screen and (max-width:767px) {
      background-color: $border;
    }
  }

  .swiper-pagination-bullet {
    height: 10px;
    width: 10px;
  }

  .db-arrow {
    color: $white;
    @media screen and (max-width:767px) {
      top: 50%;
    }

    &.db-prev {
      left: 30px;
      @media screen and (max-width:767px) {
        left: 5px;
      }
    }

    &.db-next {
      right: 30px;
      @media screen and (max-width:767px) {
        right: 5px;
      }
    }
  }

  &:hover .db-arrow {
    opacity: 1;
  }
}

.banner-list-item {
  position: relative;

  .banner-img {
    height: 350px;
    background-image: url("../../images/bg1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (max-width:767px) {
      height: 350px;
    }
  }
  // img {
  //   width: 100%;
  //   height: 100%;
  // }
  // .banner-desc-block {
  //   position: absolute;
  //   top: 50%;
  //   margin-top: -100px;
  //   right: 100px;
  //   width: 400px;
  //   @media screen and (max-width:767px) {
  //     position: static;
  //     top: auto;
  //     margin-top: auto;
  //     right: 100px;
  //     width: 100%;
  //     background-color: #000;
  //   }
  //
  //   .newsCard {
  //     height: auto;
  //     border: none;
  //     margin-top: 0;
  //     border-radius: 5px;
  //
  //     @media screen and (max-width:767px){
  //       border-radius: 0px;
  //       border-bottom:1px solid $border;
  //     }
  //
  //     .newsCard-desc {
  //       width: 100%;
  //       padding: 20px 20px 40px;
  //     }
  //   }
  // }
  //new banner card
  .banner-desc-block {
    @include dis-flex();
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    @media screen and (max-width:767px){
    }

    a {
      text-decoration: none;
      display: flex;
      height: 100%;
      justify-content: flex-end;
      align-items: center;
      padding-bottom: 30px;
      flex-direction: column;
      width: 100%;
      background-color: rgba(0,0,0,.5);
      @media screen and (max-width:992px){
        padding-bottom: 30px;
      }

      .banner-title{
        margin-bottom: 10px;
        @media screen and (max-width:767px){
          margin-bottom: 0px;
        }
      }

      .banner-text,
      .banner-title {
        max-width: 60%;
        text-align: center;

        @media screen and (max-width:767px){
          max-width: 90%;
        }

        h2,
        p {
          color: $white;
        }
      }
    }
  }
}

.option-list {
  .option-list-item {
    // width: 25%;
    // height: 150px;
    @media screen and (max-width:992px) {
      // height: 100px;
      // margin-bottom: 20px;
    }
    @media screen and (max-width:767px) {
      width: 25%;
    }
  }
}
