.ctc-card {
  color:$text;
  .card-body{
    .ctc-content-block{
      width: 100%;
      .ctc-content-wrap{
        display: flex;
        align-items: center;
      }
      display: none;
      &:first-child{
        display: block;
      }
    }
    .card-left{
      span{
        @media screen and (max-width:1200px){
          font-size: 40px;
        }
        @media screen and (max-width:992px){
          font-size: 60px;
        }
      }

    }
  }
  .claim-desc {
    margin-bottom: 10px;
    .claim-title {
      text-transform: capitalize;
      font-weight: 700;
      // font-size: 14px;
      margin-bottom: 2px;
    }
    .claim-txt{
      font-size: 12px;
      @media screen and (max-width:1024px){
        line-height: 16px;
      }
    }
  }

}

.ctc-tab{
  .card-head-title{
    span{
      position: relative;
      cursor: pointer;
      &.active{
        border-bottom:2px solid $primary;
      }
      &.ctc-title {
        position: relative;
        margin-right: 10px;
      &:before{
        content: "";
        height: 100%;
        width:2px;
        background-color: $text;
        right:-9px;
        position: absolute;
        top:0px;


      }
      }
    }
  }


}
