.login-head {
  .menu-icon {
    font-size: 30px;
    color: $text;
  }

  .right-block {
    min-width: 450px;

    .imp-link {
      position: relative;
      a {
        color: $black;
        text-transform: capitalize;
        font-size: 14px;
        text-decoration: none;
        font-weight: 500;

           &:hover{
             text-decoration: underline;
           }

        .icon {
          color: $secondary;
          font-size: 25px;
          position: absolute;
          top: 50%;
          height:25px;
          width: 30px;
          margin-top: -12px;
          left: -30px;
        }
      }
    }
  }
}
