.login-head {
  .menu-icon {
    font-size: 30px;
    color: $text;
  }

  .right-block {
    min-width: 550px;
    position: relative;
    padding-right: 100px;
    @media screen and (max-width:767px) {
      min-width: 50%;
      padding-right: 90px;
    }

    .imp-link {
      position: relative;
      display: inline-block;
      float: right;
      padding-left: 50px;
      @media screen and (max-width:767px) {
        float: none;
        padding-left: 40px;
        vertical-align: middle;

        span:last-child {
          display: none;
        }
      }

      a {
        color: $text;
        text-transform: capitalize;
        font-size: 13px;
        text-decoration: none;
        font-weight: 500;

        &:hover {
          text-decoration: underline;
        }

        .icon {
          color: $text;
          font-size: 25px;
          position: absolute;
          top: 50%;
          height: 25px;
          width: 30px;
          margin-top: -12px;
          left: 20px;

          &.icon-compensations {
            font-size: 30px;
            @media screen and (max-width:767px) {
              margin-top: -14px;
            }
          }
        }
      }
    }
  }
}

.setting-page {
    .right-block {
      &:before {
        position: absolute;
        top: 50%;
        left: 0;
        height: 60px;
        width: 100%;
        z-index: 10;
        content: "";
        margin-top: -30px;
        opacity: 0;
      }
    }
}
