.login-page {
  background-image: url("../../images/bg3.jpg");
  background-size: cover;
  height: 100vh;
  left: 500px;
  overflow: hidden;
  @media screen and (max-width: 992px) {
    left: 0;
  }

  .setting-menu {
    webkit-box-shadow: 1px 2px 5px 0 #cccccc;
    -moz-box-shadow: 1px 2px 5px 0 #cccccc;
    box-shadow: 1px 2px 5px 0 #cccccc;
    left: 0;
    @media screen and (max-width:992px) {
      display: none;
    }
  }
}

.login-body {
  @include dis-flex();
  justify-content: space-evenly;
  height: calc(100vh - 120px);
  @media screen and (max-width:1366px) {
    padding: 0 50px;
  }
  @media screen and (max-width:767px) {
    justify-content: center;
    padding: 0 20px;
  }

  .login-block {
    position: relative;
    padding-top: 140px;
    width: 360px;
    height: 509px;

    .login-title-block {
      position: absolute;
      height: 210px;
      width: 210px;
      border-radius: 50%;
      top: 40px;
      left: 50%;
      margin-left: -105px;
      background-color: $white;
      text-align: center;
      @media screen and (max-width:992px) {
        height: 190px;
        width: 190px;
        top: 50px;
        margin-left: -95px;
      }

      span {
        display: block;

        &.icon-lock {
          font-size: 40px;
          color: $primary;
          padding: 30px 0 10px;
          @media screen and (max-width:992px) {
            font-size: 30px;
            padding: 20px 0 10px;
          }
        }

        &.login-txt {
          text-transform: capitalize;
          font-size: 16px;
        }
      }
    }

    .login-body-block {
      position: absolute;
      border-radius: 10px;
      background-color: $white;
      padding: 40px;
      width: 100%;
    }
  }
}

.login-input-list {
  margin: 20px 0 15px;
  @include dis-flex();
  font-size: 13px;
  text-transform: capitalize;

  .re-me {
    &.active {
      color: $success;
    }
    cursor: pointer;

    .icon {
      padding-right: 5px;
      position: relative;
      top: 3px;
      font-size: 16px;
    }
    color: $caption;
  }

  a {
    text-decoration: none;
    color: $black;

    &:hover {
      text-decoration: underline;
    }
  }
}

.punch {
  .db-btn {
    color: $primary;
    border: 1px solid $primary;
  }
}

.login-footer {
  width: 350px;
  position: absolute;
  bottom: -150px;
  left: 50%;
  margin-left: -175px;
  text-align: center;
  height: 250px;
  background-color: $primary;
  text-transform: capitalize;
  font-size: 16px;
  border-radius: 50%;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 30px;

  .down-links {
    @include dis-flex();
    justify-content: space-evenly;
    margin-top: 10px;
    font-size: 24px;
    cursor: pointer;

    a {
      text-decoration: none;
      color: $white;
    }
  }
}

.login-footer.footer-3 {
  display: none;
}

.screen-3 {
  .login-footer {
    display: none;

    &.footer-3 {
      display: flex;
    }
  }
}
// .login-footer.footer-3{
//   display: none;
// }
//
// .screen-3 .footer-3{
//   display: flex;
//   position: static;
// }

.db-overlay {
  width: 100%;
  height: calc(100vh - 81px);
  position: absolute;
  background-color: rgba(0,0,0,.6);
  opacity: 0.2;
  @media screen and (max-width:767px) {
    height: calc(100vh - 61px);
  }
}

.zingo-desc {
  position: relative;
  max-width: 400px;
  @include dis-flex();

  .zingo-content {
    @media screen and (max-width:992px) {
      padding-left: 50px;
    }
    @media screen and (max-width:767px) {
      display: none;
    }
  }

  .zingo-img {
    margin-right: 10px;
    display: none;
  }

  a {
    color: $white;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: bold;

    &:hover {
      color: $primary;
    }
    @media screen and (max-width:992px) {
      font-size: 16px;
    }
  }

  span {
    display: block;
    color: $white;
    text-transform: capitalize;
    font-weight: bold;

    &:first-child {
      font-size: 62px;
      @media screen and (max-width:992px) {
        font-size: 42px;
      }
    }

    &:nth-child(2) {
      font-size: 32px;
      margin: 20px 0;
      @media screen and (max-width:992px) {
        font-size: 26px;
        margin: 20px 0;
      }
    }

    &:nth-child(3) {}
  }
}

.screen-1 {
  .login-body {
    flex-direction: row-reverse;

    .zingo-desc {
      max-width: 650px;

      .zingo-img {
        margin-right: 10px;
        display: block;
        @media screen and (max-width:992px) {
          display: none;
        }
      }
    }
  }
}

.screen-2 {
  .login-body {
    justify-content: center;
    // align-items: flex-start;
    .zingo-desc {
      display: none;
    }
  }
}

.small-bot {
  @include dis-flex();
  flex-direction: column;
  position: absolute;
  right: 25px;
  bottom: 35px;
  display: none;

  img {
    height: 100px;
    width: auto;
    margin-bottom: 25px;
  }

  a {
    color: $white;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 16px;
  }
}

.screen-3 {
  .small-bot {
    display: flex;
  }

  .zingo-desc {
    display: none;
  }

  .hdBc-var,
  .lan-list,
  .login-inputs,
  .titTxt-var {
    display: none;
  }

  .db-head {
    background-color: transparent !important;
    border-bottom: none;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 10;
    left: 0;
  }

  .login-body {
    padding-top: 80px;
  }

  .punch .db-btn {
    color: $white;
    background-color: transparent !important;
  }

  .db-overlay,
  .login-body {
    height: 100vh;
  }
}

.screen-3 {
  .dropdown-block{
    &:before{
      border-top: 5px solid $white;
    }
  }
  .login-footer {
    background-color: transparent !important;
  }

  .login-body {
    justify-content: center;
    align-items: flex-start;

    .login-block {
      .login-title-block {
        background-color: transparent;

        span {
          color: $white;
        }
      }

      .login-body-block {
        background-color: transparent;
      }
    }

    .zingo-desc {
      display: none;
    }
  }

  .com-code {
    display: none;
  }

  .pass-eye {
    color: $white;
  }

  label {
    color: $white;
  }

  .login-body-block input {
    background-color: transparent;
    border-color: $white;
    color: $white;

    &:focus {
      &+ label {
        color: $white;
      }
    }
  }
  // .punch {
  //   display: none;
  // }
  .login-input-list {
    a {
      color: $white;
    }

    .re-me {
      color: $white;

      &.active {
        color: $secondary;
      }
    }
  }

  .login-footer {
    width: auto;
    position: static;
    bottom: auto;
    left: auto;
    margin-left: auto;
    height: auto;
    background-color: transparent;
    border-radius: 0;
  }
}

.login-setting-icon {
  font-size: 20px;
}

.login-fields {
  height: 40px;
  margin-bottom: 10px;
  // border-bottom: 0;
  font-size: 13px;
  padding: 0 20px;
  text-transform: capitalize;
  border: 1px solid $border;
  border-radius: 20px;

  &.login-link-url {
    text-transform: lowercase;
  }

  &:focus,
  &:valid {
    border-color: $border;
  }
}

span.log-imgUplaod {}

.lan-list {
  .dropdown-block {
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 30px;
    background-color: #fff;
    line-height: 30px;
    padding: 0 10px;
    text-transform: capitalize;
    font-size: 16px;
    color: $text;

    .selected-item {
      display: block;
    }

    .dropdown-list,
    .openList {
      top: 30px;
      width: 100%;

      .dropdown-item {
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        @include dis-flex();
      }
    }

    &:before {
      top: 50%;
      right: 10px;
    }
  }
}

.ef-date {
  .datePkr-block {
    width: 45%;
  }

  .accord-body-list {
    align-items: center;
  }

  span {
    &.dateTo {
      display: block;
      line-height: 30px;
      text-align: center;
      text-transform: capitalize;
      font-weight: bold;
      padding: 5px 10px 0;
    }
  }
}

.language-title {
  margin-bottom: 10px;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 16px;
}
