.login-page {
  background-image: url("../../images/bg3.jpg");
  background-size: cover;
  height: 100vh;

  .setting-menu {
    box-shadow: none;
    left: -500px;
  }
}

.login-body {
  @include dis-flex();
  justify-content: space-evenly;
  height: calc(100vh - 120px);
  @media screen and (max-width:1366px) {
    padding: 0 50px;
  }

  .login-block {
    position: relative;
    padding-top: 109px;
    width: 350px;
    height: 509px;

    .login-title-block {
      position: absolute;
      height: 218px;
      width: 218px;
      border-radius: 50%;
      top: 0;
      left: 50%;
      margin-left: -109px;
      background-color: $white;
      text-align: center;

      span {
        display: block;

        &.icon-lock {
          font-size: 40px;
          color: $secondary;
          padding: 25px 0 15px;
        }

        &.login-txt {
          text-transform: capitalize;
          font-size: 14px;
        }
      }
    }

    .login-body-block {
      position: absolute;
      width: 350px;
      border-radius: 20px;
      background-color: $white;
      padding: 30px;
      @media screen and (max-width:992px) {
        padding: 20px;
      }
    }
  }
}

.login-input-list {
  margin: 25px 0 15px;
  @include dis-flex();
  font-size: 13px;
  text-transform: capitalize;
  font-weight: bold;

  .re-me {
    &.active {
      color: $secondary;
    }
    cursor: pointer;

    .icon {
      padding-right: 5px;
      position: relative;
      top: 3px;
      font-size: 16px;
    }
    color: $disabled;
  }

  a {
    text-decoration: none;
    color: $black;

    &:hover {
      text-decoration: underline;
    }
  }
}

.login-footer {
  width: 350px;
  position: fixed;
  bottom: -160px;
  left: 50%;
  margin-left: -175px;
  text-align: center;
  height: 250px;
  background-color: $dark-secondary;
  text-transform: capitalize;
  font-size: 16px;
  border-radius: 50%;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 30px;

  .down-links {
    @include dis-flex();
    justify-content: space-evenly;
    margin-top: 10px;
    font-size: 24px;
    cursor: pointer;
  }
}

.db-overlay {
  width: 100%;
  height: calc(100vh - 81px);
  position: absolute;
  background-color: rgba(0,0,0,.2);
  opacity: 0.45;
}

.zingo-desc {
  position: relative;
  max-width: 400px;
  @include dis-flex();

  .zingo-img {
    margin-right: 10px;
    display: none;
  }

  a {
    color: $white;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: bold;
    @media screen and (max-width:992px) {
      font-size: 16px;
    }
  }

  span {
    display: block;
    color: $white;
    text-transform: capitalize;
    font-weight: bold;

    &:first-child {
      font-size: 62px;
      @media screen and (max-width:992px) {
        font-size: 42px;
      }
    }

    &:nth-child(2) {
      font-size: 32px;
      margin: 30px 0 40px;
      @media screen and (max-width:992px) {
        font-size: 26px;
        margin: 20px 0;
      }
    }

    &:nth-child(3) {}
  }
}

.screen-1 {
  .login-body {
    flex-direction: row-reverse;

    .zingo-desc {
      max-width: 650px;

      .zingo-img {
        margin-right: 10px;
        display: block;
        @media screen and (max-width:992px) {
          display: none;
        }
      }
    }
  }
}

.screen-2 {
  .login-body {
    justify-content: center;
    // align-items: flex-start;
    .zingo-desc {
      display: none;
    }
  }
}

.small-bot {
  @include dis-flex();
  flex-direction: column;
  position: absolute;
  right: 25px;
  bottom: 35px;
  display: none;

  img {
    height: 100px;
    width: auto;
    margin-bottom: 25px;
  }

  a {
    color: $white;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 16px;
  }
}

.screen-3 {
  .small-bot {
    display: flex;
  }

  .zingo-desc {
    display: none;
  }
}

.screen-3 {
  .login-body {
    justify-content: center;
    align-items: flex-start;

    .login-block {
      .login-title-block {
        background-color: transparent;
        span {
          color: $black;
        }
      }

      .login-body-block {
        background-color: transparent;
      }
    }

    .zingo-desc {
      display: none;
    }
  }

  .com-code {
    display: none;
  }

  .pass-eye {
    color: $white;
  }

  label {
    color: $white;
  }

  input {
    background-color: transparent;
    border-color: $white;
    color: $white;

    &:focus {
      &+ label {
        color: $white;
      }
    }
  }

  .punch {
    display: none;
  }

  .login-input-list {
    a {
      color: $white;
    }

    .re-me {
      color: $white;

      &.active {
        color: $secondary;
      }
    }
  }

  .login-footer {
    width: auto;
    position: static;
    bottom: auto;
    left: auto;
    margin-left: auto;
    height: auto;
    background-color: transparent;
    border-radius: 0;
  }
}

.login-setting-icon {
  font-size: 20px;
}

.login-fields {
  height: 30px;
  margin-bottom: 10px;
  border-bottom: 0;
  font-size: 16px;
  padding: 0 10px;
  text-transform: capitalize;

  &:focus,
  &:valid {
    border-bottom: 0;
  }
}

span.log-imgUplaod {}

.lan-list {
  .dropdown-block {
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 30px;
    background-color: #fff;
    line-height: 30px;
    padding: 0 10px;
    text-transform: capitalize;
    font-size: 16px;
    color: $text;

    .selected-item {
      display: block;
    }

    .dropdown-list,.openList {
      top: 30px;
      width: 100%;

      .dropdown-item {
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        @include dis-flex();
      }
    }

    &:before {
      top: 50%;
      right: 10px;
    }
  }
}

.ef-date {
  input {
    width: 45%;
  }
  span {
    &.dateTo {
      display: block;
      line-height: 30px;
      text-align: center;
      text-transform: capitalize;
      font-weight: bold;
      padding: 0 10px;
    }
  }
}

.language-title {
    margin-bottom: 10px;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 16px;
}
