.moreLink-card {
  .db-arrow{
    top:30%;
  }

  padding: 0px;
  .card-head{
    padding: 20px 20px 0 20px;
    @media screen and (max-width:1200px){
      padding: 10px 10px 0 10px;
    }
  }
  .card-body{
    height: auto;
    margin-top:30px;
    @media screen and (max-width:767px){
      height:100px;
    }
  }
  .db-slider {
    padding:0 20px;
    a{
      &:hover{
        text-decoration: none;
      }
    }
    .slider-item-content {
      &:hover{
            transform: scale(1);
      }
      .slider-top-block {
        height: auto;
        width: auto;
        background-color:transparent;
        border-radius: 0%;
        margin-bottom: 10px;
        @media screen and (max-width:1200px){
          font-size: 40px;
        }

        @media screen and (max-width:992px){
          font-size: 60px;
        }
        @media screen and (max-width:767px){
          font-size: 40px;
          margin-bottom:5px;
        }
      }
    }
  }
  .swiper-container-autoheight, .swiper-container-autoheight .swiper-slide{
    height:105px;
  }
}
