.mycomp-card,
.mypms-card {
  .card-body {
    // @include dis-flex();
    // height: calc(100% - 20px);
    .card-left {
      // width: 40%;
      text-align: center;
      span {
        @media screen and (max-width:1200px) {
          font-size: 40px;
        }
        @media screen and (max-width:1200px) {
          font-size: 60px;
        }
      }
    }

    .card-right {
      // width: 60%;

    }
  }
}
