.mycomp-card,
.mypms-card {
  .card-body {
    // @include dis-flex();
    // height: calc(100% - 20px);
    .card-left {
      // width: 40%;
      text-align: center;

      span {
        font-size: 60px;
        color: $dark-secondary;
        @media screen and (max-width:1200px) {
          font-size: 40px;
        }
        @media screen and (max-width:1200px) {
          font-size: 60px;
        }
      }
    }

    .card-right {
      // width: 60%;
      p {
        text-transform: capitalize;
        line-height: 20px;
        color: $text;
      }
    }
  }
}
