.mylearn-card {
  .card-body {
    justify-content: center;

    .learn-list {
      @include dis-flex();
      width:100%;
      justify-content: space-evenly;
      @media screen and (max-width:767px){
        // flex-direction: column;
        flex-wrap:wrap;
        justify-content:center;
      }
      .learn-item{
        @include dis-flex();
        width: 30%;
        @media screen and (max-width:767px){
          width:50%;
          margin-bottom: 20px;
        }
        .card-left{
          @media screen and (max-width:1200px){
            font-size: 40px;
          }
          @media screen and (max-width:992px){
            font-size: 60px;
          }
        }
        .card-right{
          color:$text;
          text-transform: capitalize;
          margin-left: 10px;
          .learn-desc{
            .learn-top{
              font-weight: bold;
            }
            .learn-bottom{
              line-height:18px;
            }
          }
        }
      }
    }
  }
}
