.my-team {
  .card-head{
    .card-right{
      .emp-filteList{

        justify-content: flex-end;
        .emp-filter-item{
          &:last-child{
            width: auto;
          }

        }
      }
    }
  }
  .myteam-list {
    @include dis-flex();
    justify-content: center;
    flex-wrap: wrap;
    height: 110px;
    overflow-y: scroll;
    padding: 0 20px;

    @media screen and (max-width: 1200px){
        padding: 0 10px;
    }

    .myteam-item {
      position: relative;
      margin: 0 5px 5px;

      img {
        width: 100%;
        background-color:$black;
        border-radius: 50%;
      }

      .attn-status {
        position: absolute;
        bottom: 0;
        right: 0;

        &.attn-abs{
          span {
            background-color:$danger;
          }
        }

        span {
          height: 15px;
          width: 15px;
          background-color:$secondary;
          display: block;
          border-radius: 50%;
          border: 3px solid $white;
        }
      }
    }
  }
}
