.option-list {
  @include dis-flex();
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 30px;


  .option-list-item {
    width: 25%;
    text-align: center;
    // padding-bottom: 90px;

    transition: all 0.2s ease-in-out;
    @media screen and (max-width:992px) {
      margin-bottom: 50px;
    }

    &:hover {
      transform: scale(1.02);
    }

    a {
      color: $black;
      text-decoration: none;
      text-transform: capitalize;
      display: block;
    }

    .option-icon-block {
      font-size: 50px;
      margin-bottom: 10px;
      color: $secondary;

      .svg-option-icon {
        border-radius: 50%;
        width: 80px;
        height: 80px;
        position: relative;
        display: none;
        background-color: $white;

        svg {
          height: 60px;
          width: 60px;
          position: absolute;
          top: 50%;
          margin-top: -30px;
          left: 50%;
          margin-left: -30px;

          &> rect {
            display: none;
          }
        }
      }
      @media screen and (max-width:992px) {
        font-size: 40px;
      }
    }

    .option-item-name {
      font-size: 14px;
      line-height: 18px;
    }
  }
}

.menu-main-content {
  .option-list {
    .option-list-item {
      width: 100px;
      height:100px;
      margin-bottom: 20px;
      // @media screen and (max-width:992px) {
      //   width: 80px;
      // }
    }
  }
}

.db-body{
  .option-list-item {
    height: 200px;
  }
}
