/*****popup css*****/
.dp-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border: 0;
  background-color: rgba(0,0,0,0.9);
  height: 100%;
  width: 100%;
  z-index: 1000;
  display: none;

  &.active {
    @include dis-flex();
    justify-content: center;
  }

  &.error-popup {
    .confirm-btn {
      margin-top: 20px;
    }
  }

  .db-btn {
    font-size: 16px;
    font-weight: bold;
  }

  .dp-popup-content {
    background-color: #fff;
    padding: 60px 30px 30px;
    border-radius: 10px;
    width: 350px;
    min-height: 230px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .db-popup-head {
      font-weight: bold;
      text-align: center;

      h2 {
        margin-bottom: 20px;
        color: $title;
      }
    }
  }
}

.info-icon {
  height: 80px;
  width: 80px;
  background-color: $primary;
  border-radius: 50%;
  position: absolute;
  top: 0;
  margin-top: -40px;
  left: 50%;
  margin-left: -40px;
  color: #fff;
  font-size: 60px;
  text-align: center;
  line-height: 80px;
}