.setting-icon {
  &.active{
    color:$primary;
  }
  font-size: 25px;
  margin-right: 15px;
  cursor: pointer;
  @media screen and (max-width:992px) {
    display: none;
  }
}

.setting-pull {
  height: 70px;
  width: 35px;
  background-color: $bg-color;
  right: -35px;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  z-index: 1;
  border-top-right-radius: 120px;
  border-bottom-right-radius: 120px;
  cursor: pointer;
  display: none;

  span.icon {
    position: absolute;
    left: 5px;
    top: 50%;
    font-size: 20px;
    margin-top: -10px;

    &:before {
      font-weight: bold !important;
    }
  }
}



.setting-menu {
  // max-width: 500px;
  width: 350px;
  position: fixed;
  background-color: $bg-color;
  left: 0px;
  height: 100vh;
  z-index: 99;
  top: 0;
  // padding-top: 20px;
  -webkit-box-shadow: 7px 2px 34px 0 rgba(204,204,204,1);
  -moz-box-shadow: 7px 2px 34px 0 rgba(204,204,204,1);
  box-shadow: 7px 2px 34px 0 rgba(204,204,204,1);
  @media screen and (max-width:767px) {
    display: none;
  }

  &.active {
    left: 0;
  }

  .setting-head {
    @include dis-flex();
    padding: 20px;
    text-transform: capitalize;
    font-size: 26px;
    border-bottom: 1px solid $border;
    font-weight: 300;

    span {
      &:last-child {
        cursor: pointer;
      }
    }

    .db-btn {
      height: 40px;
      border-radius: 5px;
      font-size: 16px;
      width: 170px;
      background-color: $primary;
      color:$white;
    }
  }

  .setting-body {
    position: relative;
    z-index: 1;


    /****accordion body css*****/

    .accord-container {
      overflow: hidden;
      // padding-bottom: 60px;
      height:100vh;
      position: relative;
      // .accord-item{
      //   background-color: $bg-color;
      // }
      .accorrd-main-body {
        height: 100%;
        width: 100%;
        background-color: $bg-color;
        top: 0;
        position: absolute;
        right: -350px;
        transition: right 0.5s;
      }

      .accord-closing {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 20px;
        height: 70px;
        border-bottom: 1px solid $border;
        background-color: $white;
        .icon{
          font-size: 20px;
          padding-right: 15px;
          cursor: pointer;
          height:100%;
          &:before{
            line-height: 70px;
          }
        }
        .widget-click-desc{
          h5{
            color:$black;
            margin-bottom:5px;
          }
          h4{
            color:$text;
            text-transform: capitalize;
          }

        }
      }
    }
  }
}

.no-pd{
  .accord-main-content {
    padding: 0px;
  }
}

.accord-main-content {
    padding: 20px;
    height:75%;
    overflow-y: scroll;
    .accord-content-info{
      margin-bottom: 20px;

    }
}

.setting-page-title {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 20px;
  height: 70px;
  border-bottom: 1px solid $border;
  margin-bottom:10px;
  background-color: $white;
  h5{
    color:$black;
    margin-bottom:5px;
  }
}

.theme-change-block {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border-top:1px solid $border;
    .db-btn{
      border-radius: 5px;
      background-color: $caption;
      width:90px;
      border-color: $caption;
      color:$white;

    }
}

.banner-setting-block{
  display: none;
  &.active{
    display: block;
  }
}

.accord-container {
  // .accord-item:last-child {
  //   padding-bottom: 60px;
  // }
  .accord-item-title,
  .setting-btns {
    padding: 0 20px;
    height: 55px;
    border-bottom: 1px solid $border;
    border-top: 1px solid $border;
    text-transform: capitalize;
    font-size: 16px;
    background-color: $white;
    margin-bottom: 10px;
    @include dis-flex();
    color: $text;
    cursor: pointer;
  }

  .active {
    .accord-item-body {
      display: block;
    }

    .accord-item-title {
      .icon {
        // transform: rotate(180deg);
      }
    }
  }

  .accord-item-body {
    height: 300px;
    overflow: auto;
    border-bottom: 1px solid #ddd;
    background-color: $light;
    display: none;
  }

  .accord-body-list {
    @include dis-flex();
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    // padding: 20px;
    // background-color: $light;
    position: relative;
    // overflow: auto;
    // height: 670px;
    .dropdown-block {
      &:before {
        display: none;
      }

      &.multi-select {
        &.language-select {
          height: auto;
          padding: 0;

          .selected-item {
            height: 30px;
          }

          .openList {
            position: static;
          }
        }
      }
    }

    section {
      height: 170px;
      border: 1px solid #ccc;
      width: 48%;
      margin-bottom: 20px;
      background-color: $white;
      cursor: move;

      .widget-img {
        height: 120px;
        border-bottom: 1px solid $border;

        img {
          height: 100%;
          width: 100%;
          padding: 10px;
        }

        &.full-width {
          img {
            padding: 0;
          }
        }
      }

      .widget-title {
        @include dis-flex();
        // span{
        //   display: block;
        // }
        text-transform: capitalize;
        font-weight: bold;
        color: $text;
        justify-content: center;
        height: 50px;
        padding: 0 5px;
        text-align: center;
      }

      .main-markup {
        display: none;
      }
    }
  }

  .overlay-setup {
    .accord-body-list {
      display: block;
    }

    .pickr-child {
      border-radius: 5px;
    }
  }

  .card-layout {
    .accord-body-list {
      flex-direction: column;
    }
  }
}
//theme change list

.theme-item {
  width: 48%;
  height: 110px;
  border: 1px solid #cccc;
  margin: 10px 0;
  cursor: pointer;

  &.active {
    border: 3px solid #000000;
    -webkit-box-shadow: 2px 2px 10px 2px #ddd;
    -moz-box-shadow: 2px 2px 10px 2px #ddd;
    box-shadow: 2px 2px 10px 2px #ddd;
  }

  &.big-item {
    width: 100%;
    height: 150px;
    position: relative;

    input {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      opacity: 0;

      &:hover ~ span {
        opacity: 1;
      }
    }

    span {
      &.img-select-overlay {
        @include dis-flex();
        justify-content: center;
        flex-direction: column;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        text-transform: capitalize;
        font-size: 20px;
        color: $white;
        background-color: rgba(0,0,0,0.5);
        opacity: 0;
        text-align: center;
        line-height: 30px;
        padding: 20px;

        span {
          font-size: 13px;
          text-transform: none;
          line-height: 20px;
        }
      }
    }
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.login-page {
  .accord-container {
    .accord-item-body {
      height: 300px;
      overflow: auto;
      border-bottom: 1px solid $border;
      // height:auto;
      // max-height: 600px;
      .db-btn {
        width: 50%;
      }
    }
  }
}

.changeHistory {
  .accord-body-list {
    display: block;
  }

  .db-history-ListItem {
    @include dis-flex();
    justify-content: space-between;
    cursor: pointer;
    padding: 10px 0;
    border-bottom: 1px solid $border;

    .history-item {
      @include dis-flex();
      width: 60%;
      justify-content: flex-start;

      .historyDate {
        padding-right: 10px;
      }
    }

    .history-btn {
      @include dis-flex();
      justify-content: flex-end;
      width: 40%;
      text-transform: capitalize;

      .flat-btn {
        width: 45%;
      }
    }
  }
}

.app-changes {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: $primary;
  z-index: 100;

  .link-btn {
    color: $white;
  }
}

.lan-list {
  .accord-body-list {
    display: block;

    .sel-lang-block {
      padding-top: 30px;

      .bannerInput-group {
        .banner-label {
          display: block;
          text-transform: capitalize;
          color: $text;
          margin-bottom: 5px;
          // padding: 0 10px;
          font-size: 16px;
          font-weight: bold;
        }
      }
    }
  }
}

.colour-setup {
  .accord-body-list {
    display: flex;
    flex-direction: column;
  }
}

.color-change-block {
  @include dis-flex();
  padding: 10px;
  border: 1px solid $border;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 5px;

  .common-label {
    margin-bottom: 0;
  }
}

.pickr-child {
  background-color: $primary;
  border: 1px solid $black;
}

.bc-var .pickr-child {
  background-color: $white;
  border: 1px solid $border;
}

.hdBc-var .pickr-child {
  background-color: $white;
  border: 1px solid $black;
}

.hdTxt-var .pickr-child {
  background-color: $text;
  border: 1px solid $text;
}

.titTxt-var .pickr-child {
  background-color: $text;
  border: 1px solid $text;
}

.txt-var .pickr-child {
  background-color: $text;
  border: 1px solid $text;
}

.card-layout-item {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid $border;
  padding: 10px;
  background-color: $white;

  &:last-child {
    margin-bottom: 0;
  }

  &.bx-shadow {
    .action-box {
      webkit-box-shadow: 0 0 10px 2px $border;
      -moz-box-shadow: 0 0 10px 2px $border;
      box-shadow: 0 0 10px 2px $border;
    }
  }

  .card-action-block {
    @include dis-flex();
    flex-direction: column;
    align-items: center;

    .action-result {
      width: 100%;
      margin: 20px 0;
      text-align: center;

      .action-box {
        height: 80px;
        width: 80%;
        border: 1px solid $border;
        display: inline-block;
      }
    }

    .action-values {
      width: 100%;
      .range-slider-container{
        margin-bottom: 10px;
        .common-label{
          min-width: 120px;
          font-weight:normal;

        }
      }
    }
  }
}

.cust-url {
  input {
    text-transform: none;
  }
}

.logo-setup {
  img {
    height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
    padding: 20px;
    width: auto;
  }

  .img-display-block {
    padding: 20px;
    border: 1px solid $border;
  }
}

/****widget items in setting block****/


.widget-block-item {
  cursor: pointer;
  width: calc(50% - 10px);
  height: 100px;
  border: 1px solid $border;
  position: relative;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $white;
  padding:0 5px;
  .sp-widget-img {
    font-size: 40px;
    margin-bottom: 5px;
  }
  .sp-widget-title{
    text-align: center;
  }
  &.active {
    border-color: $success;
    .icon-ok-filled{
      display: block;
    }
    .sp-widget-img,.sp-widget-title {
      color: $success;
    }
  }
  .icon-ok-filled{
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 25px;
    height: 25px;
    width: 25px;
    color: $success;
    background-color: $white;
    display: none;
    border-radius: 50%;
  }
}

.sp-probtn-block {
  @include dis-flex();
  width: 40%;
  @media screen and (max-width:767px) {
    width: 100%;
    margin-top: 10px;
  }
}
// .my-goals,.my-learning{
// display: none;
// }






.cardInput-group{
  width: 100%;
  .card-label {
      display: block;
      text-transform: capitalize;
      color: #555;
      margin-bottom: 5px;
      font-size: 16px;
      font-weight: bold;
  }

}
textarea{
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 100%;
  font-family: sans-serif;
}

.sp-input {
    height: 40px;
    margin-bottom: 10px;
    font-size: 13px;
    padding: 0 20px;
    text-transform: capitalize;
    border: 1px solid #ddd;
    border-radius: 5px;
    width:100%;
}
