.slide-accord {
  margin-top: 10px;

  .slide-accord-item {
    background-color: $white;

    &.active {
      .slide-accored-arrow {
        transform: rotate(-180deg);
      }

      .slide-accort-title {
        margin-bottom: 0;
      }
    }
  }

  .slide-accort-title {
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;

    h4 {
      line-height: 40px;
      position: relative;
      padding-left: 20px;

      .slide-accored-arrow {
        border-top: 6px solid $text;
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -3px;
        transition: transform 0.3s;
      }
    }

    .icon-cross {
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -10px;
      z-index: 10;
      height: 20px;
      width: 20px;
      text-align: center;

      &:before {
        line-height: 20px;
      }
    }
  }

  .slide-accord-body {
    padding: 20px;
    display: none;
    margin-bottom: 10px;

    .slide-img {
      .slide-img-info {}

      .slide-img-upload {
        position: relative;

        .slide-img-display {
          height: 100px;
          border: 1px solid #ccc;
          background-image: url("../../images/bg1.jpg");
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          margin: 5px 0 10px;

          input[type="file"] {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            opacity: 0;
          }
        }

        .slide-upload-info {
          display: none;
          position: absolute;
          height: 100%;
          background-color: rgba(0,0,0,0.3);
          width: 100%;
          top: 0;

          h4 {
            color: $white;
          }
        }

        &:hover {
          .slide-upload-info {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }

    .slide-card-inputBlock {
      &:last-child {
        margin-bottom: 0;
      }
      margin-bottom: 10px;

      .slide-card-label {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 5px;
      }

      input {
        height: 40px;
        border: 1px solid $border;
        margin: 0;
        padding: 0 10px;
      }
    }
  }
}

.slider-add-btn {
  background-color: $white;
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
  cursor: pointer;

  h4 {
    line-height: 40px;

    span {
      display: inline-block;
      vertical-align: middle;
    }
  }
}
