/****tab block****/
.md-inbox{
  display: none;
}
.tab-block {
  width:100%;
  .tab-head {
    position: relative;
    @include dis-flex();
    height: 45px;
    padding: 0 20px;
    border-bottom: 1px solid $border;
    @media screen and (max-width:767px){
      padding: 0 10px;
    }
    .noti-filter {
      font-size: 16px;
      span{
        cursor: pointer;
        &:first-child{
          margin-right: 5px;
        }

        .icon{
          &:before{
            line-height: 16px;
          }
        }
      }
    }

    // .tab-title-list {
    //   @include dis-flex();
    //   justify-content: flex-start;
    //   position: relative;
    //   top: 1px;
    //   @media screen and (max-width:767px){
    //     width: 70%;
    //   }
    //
    //   .tab-title-item {
    //     height: 40px;
    //     line-height: 40px;
    //     width: 130px;
    //     text-align: center;
    //     text-transform: capitalize;
    //     font-weight: bold;
    //     border: 1px solid $border;
    //     cursor: pointer;
    //     border-bottom: none;
    //     border-right: none;
    //     background-color: $secondary;
    //     color: $white;
    //     @media screen and (max-width:767px) {
    //       width: 50%;
    //     }
    //
    //     &:last-child {
    //       border-right: 1px solid $border;
    //     }
    //
    //     &.active {
    //       color: $black;
    //       background-color: $white;
    //     }
    //   }
    // }

    .tab-title-list{
      @include dis-flex();
      width: 100%;
    }
  }

  .tab-body {
    // border: 1px solid #ccc;
    // background-color: $white;
    height: calc(100% - 50px);
    overflow: hidden;

    @media screen and(max-width:767px){
      height:auto;
    }

    .tab-content {
        height:288px;
      overflow-y: auto;
    }
  }



  .noti-content {
    padding-right: 10px;
  }

  .noti-desc {
    @media screen and (max-width:767px) {
      font-size: 13px;
      line-height: 16px;
    }
  }

  .noti-list {
    .noti-item {
      height: 90px;
      margin: 0;
      padding: 0 20px;
      @media screen and (max-width:767px){
        padding: 0 10px;
      }
      &:last-child{
        border-bottom: none;
      }
    }
  }
}

.my-inbox{
  .tab-title-item{
    color: $black;
  }

.inbox-filter{
  color:$text;
  cursor: pointer;
  h5{
    // font-weight: bold;
  }

}

}
/****tab block end****/
