/****tab block****/
.tab-block {
  width:100%;
  .tab-head {
    position: relative;
    @include dis-flex();

    .noti-filter {
      font-size: 16px;
      span{
        cursor: pointer;
        &:first-child{
          margin-right: 5px;
        }

        .icon{
          &:before{
            line-height: 16px;
          }
        }
      }
    }

    .tab-title-list {
      @include dis-flex();
      justify-content: flex-start;
      position: relative;
      top: 1px;

      .tab-title-item {
        height: 40px;
        line-height: 40px;
        width: 130px;
        text-align: center;
        text-transform: capitalize;
        font-weight: bold;
        border: 1px solid $border;
        cursor: pointer;
        border-bottom: none;
        border-right: none;
        background-color: $secondary;
        color: $white;

        &:first-child {
          border-top-left-radius: 10px;
        }

        &:last-child {
          border-top-right-radius: 10px;
        }
        @media screen and (max-width:767px) {
          width: 50%;
        }

        &:last-child {
          border-right: 1px solid $border;
        }

        &.active {
          color: $black;
          background-color: $white;
        }
      }
    }
  }

  .tab-body {
    border: 1px solid #ccc;
    background-color: $white;
    height: 550px;
    overflow: hidden;
    border-radius: 10px;

    .tab-content {
      height: 547px;
      overflow-y: auto;
    }
  }



  .noti-content {
    padding-right: 10px;
  }

  .noti-desc {
    @media screen and (max-width:767px) {
      font-size: 13px;
      line-height: 16px;
    }
  }

  .noti-list {
    .noti-item {
      height: 90px;
    }
  }
}

.wt-inbox{
  border:none;
  height:590px;
  .xl-block{
  }
  .tab-block{
  }

}
/****tab block end****/
