.personal-blog-block {
  // &.card-block{
  //   padding: 0;
  // }
  //slider
  // height: 300px;
  // width: 300px;
  &:hover {
    .personal-arrow-back,
    .personal-arrow-next {
      opacity: 1;
    }
  }

  .swiper-button-next {
    right: -10px;
  }

  .swiper-button-prev {
    left: -10px;
  }

  .swiper-wrapper {
    height: auto;
  }

  .card-left {
    .gallery-thumbs {
      &:hover {
        .db-arrow {
          opacity: 1;
        }
      }
    }
  }

  .swiper-slide {
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
    }
  }
  // .swiper-container {
  //   width: 100%;
  //   height: 300px;
  //   margin-left: auto;
  //   margin-right: auto;
  // }
  // .swiper-slide {
  //   background-size: cover;
  //   background-position: center;
  // }
  .gallery-top {
    height: 80%;
    width: 100%;
  }

  .gallery-thumbs {
    height: 20%;
    box-sizing: border-box;
    padding-top: 2px;

    .swiper-button-next,
    .swiper-button-prev {
      margin-top: -15px;
      height: 30px;
      width: 20px;
    }

    .swiper-button-next {
      right: 0;
    }

    .swiper-button-prev {
      left: 0;
    }
  }

  .gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;

    &:hover {}
  }

  .gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
  }

  .card-body {
    height: 314px;
    padding: 0;
    @include dis-flex();
  }

  .card-left {
    width: calc(60% - 20px);
    height: 100%;
  }

  .card-right {
    width: 40%;
    // height: 100%;
    @include dis-flex();
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // border:1px solid #000;
    // padding:20px 0;
  }

  .blog-title {
    text-align: center;
    // border:1px solid $border;
    text-transform: capitalize;
    margin-bottom: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    width: 100%;
    // justify-content: center;
    h3 {
      // font-weight: bold;
    }
  }

  .blog-desc {
    // border: 1px solid $border;
    margin-bottom: 20px;
    position: relative;
    // height: 148px;
    p {
      height: 115px;
      overflow: hidden;
      position: relative;
      padding-right: 30px;
      text-align: justify;
    }

    a {
      position: absolute;
      right: 0;
      bottom: -25px;
      text-transform: capitalize;
      height: 30px;
      width: 30px;
      text-align: center;
      text-decoration: none;
      color: $primary;

      span {
        position: absolute;
        font-size: 16px;
        left: 50%;
        top: 50%;
        margin-left: -8px;
        margin-top: -8px;
      }
    }
  }

  .blog-user {
    text-transform: capitalize;
    @include dis-flex();
    justify-content: flex-start;
    margin-bottom: 10px;
    width: 100%;
    cursor: pointer;

    .blog-user-img {
      margin-right: 10px;

      img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
      }
    }
  }

  .blog-action-list {
    @include dis-flex();
    width: 100%;

    .blog-action-item {
      width: 25%;
      height: 50px;
      position: relative;
      @include dis-flex();
      justify-content: center;
      flex-direction: column;
      cursor: pointer;

      &.active {
        span {
          &.icon {
            color: $primary;
          }
        }
      }

      span {
        &.icon {
          font-size: 25px;

          &:before {
            font-weight: bold !important;
          }
        }

        &.action-count {
          font-size: 20px;
          font-weight: bold;
          margin-top: 5px;
          color: $primary;
        }
      }

      .more-option-block {
        position: absolute;
        background-color: #fff;
        border: 1px solid $border;
        padding: 10px;
        bottom: 40px;
        width: 200px;
        right: 30px;
        display: none;
        z-index: 10;

        .more-option-list {
          .more-opt-item {
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid $border;
            margin-bottom: 10px;
            text-transform: capitalize;
            background-color: $bg-color;
            color: $black;

            &:hover {
              background-color: $primary;
              color: $white;
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

.img-click,
.img-display {
  img {
    width: 100%;
    height: 100%;
  }
}

.img-display {
  &.active {
    img {
      -webkit-animation: fadeOutEffect 2s;
      animation: fadeOutEffect 2s;
    }
  }
}

.img-click {
  width: 25%;
  cursor: pointer;
  opacity: 0.3;

  &.active {
    opacity: 1;
  }
}

.img-click-block {
  @include dis-flex();
}

.blogger-list {
  border: 1px solid $border;
  height: 100%;
  width: 100%;
}

.personal-blog-block {
  // border: 1px solid $border;
  // margin-top: 30px;

  .card-head {
    text-transform: capitalize;
    padding: 20px 20px 0;
    cursor: pointer;

    .icon {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .card-block {
    border: none;
    margin-top: 0;
    padding-top: 10px;
  }
}
