.personal-blog {
  // &.card-block{
  //   padding: 0;
  // }
  .card-body {
    height: auto;
    padding: 0;
    @include dis-flex();
  }

  .card-left {
    width: calc(60% - 20px);
    height: 100%;
    border: 1px solid $border;
    background-color: $bg-color;
  }

  .card-right {
    width: 40%;
    // height: 100%;
    @include dis-flex();
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // border:1px solid #000;
    // padding:20px 0;
  }

  .blog-title {
    text-align: center;
    // border:1px solid $border;
    text-transform: capitalize;
    margin-bottom: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    width: 100%;
    // justify-content: center;
    h3 {
      // font-weight: bold;
    }
  }

  .blog-desc {
    // border: 1px solid $border;
    margin-bottom: 20px;
    position: relative;
    // height: 148px;
    p {
      height: 115px;
      overflow: hidden;
      position: relative;
      padding-right: 30px;
      text-align: justify;
    }

    a {
      position: absolute;
      right: 0;
      bottom: -25px;
      text-transform: capitalize;
      height: 30px;
      width: 30px;
      text-align: center;
      text-decoration: none;
      color: $primary;

      span {
        position: absolute;
        font-size: 16px;
        left: 50%;
        top: 50%;
        margin-left: -8px;
        margin-top: -8px;
      }
    }
  }

  .blog-user {
    text-transform: capitalize;
    @include dis-flex();
    justify-content: flex-start;
    margin-bottom: 10px;
    width: 100%;

    .blog-user-img {
      margin-right: 10px;

      img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
      }
    }
  }

  .blog-action-list {
    @include dis-flex();
    width: 100%;

    .blog-action-item {
      width: 25%;
      height: 50px;
      @include dis-flex();
      justify-content: center;
      flex-direction: column;
      cursor: pointer;

      span {
        &.icon {
          font-size: 25px;

          &:before {
            font-weight: bold !important;
          }
        }

        &.action-count {
          font-size: 20px;
          font-weight: bold;
          margin-top: 5px;
          color: $primary;
        }
      }
    }
  }

  .swiper-container{
    img{
      height: 100%;
    }
  }
  .gallery-thumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }
  .gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
    img{
      width: 100%;
    }
  }
  .gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
  }
   .swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  .gallery-top {
    height: 80%;
    width: 100%;
  }
}
