.theme-v2 {
  background-color: $bg-color;

  .setting-icon{
    color:$white;
  }
  
  .option-list {
    .option-list-item {
      .option-icon-block {
        span {
          height: 80px;
          width: 80px;
          background-color: #fff;
          display: inline-block;
          border-radius: 50%;
          font-size: 0;
          -webkit-box-shadow: 0 0 10px 2px rgba(204,204,204,1);
          -moz-box-shadow: 0 0 10px 2px rgba(204,204,204,1);
          box-shadow: 0 0 10px 2px rgba(204,204,204,1);
          display: none;
        }

        .svg-option-icon {
          display: inline-block;
          -webkit-box-shadow: 0 0 10px 2px rgba(204,204,204,1);
          -moz-box-shadow: 0 0 10px 2px rgba(204,204,204,1);
          box-shadow: 0 0 10px 2px rgba(204,204,204,1);
        }
      }
    }
  }

  .empConnect,
  .newsCard {
    border: none;
    @include border-radius(5px);
    -webkit-box-shadow: 0 0 10px 2px rgba(204,204,204,1);
    -moz-box-shadow: 0 0 10px 2px rgba(204,204,204,1);
    box-shadow: 0 0 10px 2px rgba(204,204,204,1);
  }

  .newsCard {
    .newsCard-content {
      .newsCard-img-block {
        img {
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }
      }
    }
  }

  .db-head {
    background-color: $dark-secondary;

    .db-head-content {
      .left-block {
        .menu-tab {
          .menu-icon {
            margin-right: 20px;

            span {
              background-color: $white;
            }
          }
        }

        .main-logo {
          a {
            color: $white;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: bold;
            font-size: 25px;
            letter-spacing: 1px;
            line-height: 20px;
          }

          img {
            display: none;
          }

          span {
            display: block;
          }
        }
      }

      .right-block {
        .header-notification {
          font-size: 30px;
          position: relative;
          color: $white;

          .noti-count {
            background-color: $white;
            color: $black;
          }
        }

        .right-head-menu {
          .menu-icon {
            span {
              background-color: $white;
            }
          }
        }
      }
    }
  }

  .empConnect {
    .card-head {
      .card-left {
        .card-head-icon {
          display: none;
        }
      }
    }
  }
}
