  /******colours*****/
    $primary:#33cccc;
    $secondary:#99cc33;
    $success:#33cc80;
    $info:#03a9f5;
    $warning:#ffcc00;
    $danger:#ff6666;
    $text:#555;
    $title:#111;
    $dark:#111;
    $link:#0066cc;
    $purple:#6666cc;
    $pink:#ff66b3;
    $light:#ffffff;
    $bg-color:#eef1e9;
    $border:#ddd;
    $disabled:#d6d8d1;
    $caption:#888;
    $icon:#666;

    /*****light colours****/
      $light-primary:#d6f5f5;
      $light-secondary:#ebf5d6;
      $light-success:#d6f5eb;
      $light-info:#cdeefd;
      $light-warning:#fff5cc;
      $light-danger:#ffe0e0;

    /******dark colours*****/
      $dark-primary:#2eb7b7;
      $dark-secondary:#89b72e;
      $dark-success:#2eb789;
      $dark-info:#0398dc;
      $dark-warning:#e5b700;
      $dark-danger:#e55c5c;

    /*****common colours****/
      $white:#ffffff;
      $black:#000000;
